.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  //background-color: rgba(0,0,0,0.1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0 0 2px 2px;
  .logo {
    h1 {
      width: 400px;
      margin-bottom: -5px;
    }
    h5 {
    }
    .logoLink {
      color: #73BC38;
      text-decoration: none;
    }
  }
  li {
    color: red;
  }
  ul {
    padding: 10px 5px 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    li {
      padding: 0 5px 0 5px;
      a {
        text-decoration: none;
        color: hsl(93,54%,50%);

      }
      a:hover {
        text-decoration: none;
        color: hsl(93,54%,35%)
      }
    }
    .socialDropDown {
      cursor: pointer;
      color: hsl(207,59%,59%);
    }
    .socialDropDown:hover {
      color: hsl(207,86%,75%)
    }
    .socialMedia {
      // do not forget about this
      display: none;
      flex-direction: column;

      position: absolute;
      z-index: 100;
      margin-top: 20px;
      left: 86.5%;

      li {
      }
    }
  }
}